// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)



.state{
  .fields{
    width:32%;
    float:left;
    padding-right:2%;
    &:nth-child(3n+2){
      padding-right:0px;
    }
    .inputs{
      .label{
        width:100%;
      }
    
      .four{
        display:none;
        width:100%;
        li{
          width:100%;
        }
       label{
         display:none;
       }
       input[type="text"]{
         width: 100%;
         padding: 5px 0px 5px 0px;
         height: 30px;
         margin: 5px 0px 0px 0px;
       }
      }
      .title{
        display:none;
        label{
          display:none;
        }
        input[type="text"]{
          width: 100%;
          padding: 5px 0px 5px 0px;
          height: 30px;
          margin: 5px 0px 0px 0px;
        }
      }
      
      .inputs{
        padding:5px;
      }
    
    }
    
    
  }
  

  a.add_nested_fields{
    clear:both;
    width:100%;
    display:block;
  }
  .actions{
    clear:both;
    width:100%;
  }
}

