form.slide li.panel{
  float:left;
  margin-right: 10px;
}

form.slide li.panel fieldset{
  margin-bottom: 0px;
}



.color_selector {
  padding: 8px;                
  .color {
    margin: 5px;
    padding: 5px;
  }
  [data-selected="selected"] {
    border: 5px solid black !important; 
  }
}

.index_content {
  ol.panels1 li { width: 60%; }
  ol.panels3 li { width: 20%; }
  ol li.selection_cell { width: 10%; }
  ol li.panel_actions { width: 10%; }
  ol.panels1 li div.text p {
    padding-top: 50px;
    font-size: xx-large;
    text-align: center;
  }
  ol li {
    float: left;
    height: 130px;
  }
  ol li * {
    height: 100%;
  }
  ol.panels3 li div p.text {      
    padding: 20px;
    font-size: large;  
  }
}
.clear_both {
    clear: both;
}
#index_footer {
    clear: both;
}

.slide {
  .action_items {
    text-align: right;
    height: auto;
    padding-top: 50px;
    a { 
      @include light-button; 
      padding: 12px 17px 10px;
      margin: 0px;
    
      &:hover{
        @include icon-color(#000);
      }
    }
  }
}

#collection_selection_toggle_panel {
  display: none;
}
